@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Dancing+Script:wght@700&display=swap');
:root {
    --main-color: #F58ED6;
}

.cards-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 325px);
    grid-template-rows: repeat(auto-fill, minmax(530px, 1fr));
    gap: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 25px;
}


