.socialMediaButtonsContainer{
    display: grid;
    text-align: center;
    
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: min-content;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
}

.socialMediaButton{
    width: 50px;
    height: 50px;
    border: none;
    background:none ;
    background-size: cover;
    
    cursor: pointer;
    border-radius: 5px;
}

