.slider-container {
    margin: 0px 50px 100px 50px;
    width: auto;
    height: content;
    max-height: 600px;
    overflow: hidden;
    position: relative;


    border-radius: 0 0 25px 25px;
}

/*Arrows*/

.slider-container .rightArrow, .slider-container .leftArrow {
    width: 0;
    height: 0;
    border-style: solid;
    background: none;
    position: absolute;
    z-index: 10;

    bottom: 50%;
    margin-left: 15px;
    margin-right: 15px;

    cursor: pointer;
}

.slider-container .rightArrow{
    border-color: transparent transparent transparent #7e7e7e;
    border-width: 35px 0 35px 25px;
    right: 0;
}
.slider-container .leftArrow{
    border-color: transparent #7e7e7e transparent transparent;
    border-width: 35px 25px 35px 0;

}

/*images*/
.slider-content {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    transition-duration: 0.4s;
}

.slider-content img {
    width: 100%;
    height: 100%;
    display: inline-block;
    object-fit: fill;
}

@media screen and (max-width: 700px) {
    
    .slider-container{
        margin: 15px;
        margin-top: 0;
        min-height: 250px;
    }
    
    /*Arrows*/
    .slider-container .rightArrow, .slider-container .leftArrow {
        margin-left: 5px;
        margin-right:5px;
        bottom: 50%;
    }
    
    .slider-container .rightArrow{
        border-color: transparent transparent transparent #7e7e7e;
        border-width: 25px 0 25px 25px;
        right: 0;
    }
    .slider-container .leftArrow{
        border-color: transparent #7e7e7e transparent transparent;
        border-width: 25px 25px 25px 0;
        
    }
    /*images*/
    .slider-content img {
        min-height: 250px;
    }
}